.title__container {
  background-color: #000;
  color: #fff;
  padding: 5.5rem 0;
  text-align: center;
}

.section__title {
  font-size: 7rem;
  text-transform: uppercase;
}

.services__description {
  font-size: 0.95rem;
}

.services__detail {
  margin-top: 3rem;
  padding: 0 3rem;
}

.services__text {
  font-size: 1.2rem;
  text-align: center;
  color: #0000008e;
  margin-bottom: 5rem;
}

.services__data {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  place-items: center;
}

.services__card {
  width: 430px;
  height: 290px;
  border: 2px solid #000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  text-align: start;
  cursor: pointer;
}

.services__title {
  text-transform: uppercase;
}

.services__info {
  font-size: 0.9rem;
}

.services__btn {
  background: #000;
  padding: 0.8rem 0.6rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}
