.title__container {
  background-color: #000;
  color: #fff;
  padding: 5.5rem 0;
  text-align: center;
}

.section__title {
  font-size: clamp(1rem, 3vw + 1rem, 8rem);
  text-transform: uppercase;
}

.services__description {
  font-size: clamp(0.79rem, 3vw + 1rem, 0.95rem);
}

.services__detail {
  margin-top: 3rem;
  padding: 0 3rem;
}

.services__text {
  font-size: clamp(0.9rem, 3vw + 1rem, 1.25rem);
  text-align: center;
  color: #0000008e;
  margin-bottom: 5rem;
}

.services__data {
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  place-items: center;
}

.services__card {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  background: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  text-align: start;
  position: relative;
  cursor: pointer;
}

.services__shadow {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(-6px, -6px);
}

.services__title {
  text-transform: uppercase;
}

.services__info {
  font-size: 0.9rem;
}

.services__btn {
  background: #000;
  padding: 0.8rem 0.6rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

@media screen and (max-width: 1025px) {
  .services__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
  }

  .services__detail {
    margin-top: 3rem;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  .services__data {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    margin: 0 3rem;
  }

  .services__detail {
    margin-top: 3rem;
    padding: 0 0.5rem;
  }
}
