.title__container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 5.5rem 0;
  text-align: center;
}

.title__front {
  position: relative;
}

.section__title {
  font-size: clamp(1rem, 8vw, 4rem);
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.4rem;
}

.services__header {
  background-image: url("../../assets/backgrounds/services-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.services__description {
  font-size: clamp(0.79rem, 3vw + 1rem, 0.95rem);
}

.services__detail {
  margin-top: 3rem;
  padding: 0 3rem;
}

.services__text {
  font-size: clamp(0.9rem, 3vw + 1rem, 1.25rem);
  text-align: center;
  color: #0000008e;
  margin-bottom: 5rem;
}

.services__data {
  text-align: center;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 6rem;
  place-items: center;
  max-width: 1400px;
  margin: 1rem auto;
}

.services__card {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  background: #fff;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  text-align: start;
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
}

.services__card:hover {
  background: #000;
  color: #fff;
}

.services__card:hover .services__btn {
  background: #fff;
  color: #000;
}

.services__shadow {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(-7px, -38px);
}

.services__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.services__title {
  text-transform: uppercase;
}

.services__info {
  font-size: 0.9rem;
}

.services__btn {
  background: #000;
  padding: 0.8rem 0.6rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  transition: 0.5s all;
}

@media screen and (max-width: 1025px) {
  .services__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    margin: 0 2rem;
  }

  .services__detail {
    margin-top: 3rem;
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  .services__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 2rem;
    place-content: center;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 500px) {
  .services__data {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    margin: 0 0.4rem;
    max-width: 400px;
  }

  .services__detail {
    margin-top: 3rem;
    padding: 0 0.5rem;
  }
}
