.products__title {
  text-align: center;
  margin: 2rem;
  font-size: 5rem;
  text-transform: uppercase;
}

.section__description {
  width: 50%;
  margin: 0 auto;
}

.products__container {
  display: flex;
  align-items: center;
  gap: 8rem;
  justify-content: space-between;
  padding: 0rem 3rem;
  margin-top: 3rem;
}

.product {
  background-color: #fff;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 1rem;
  box-shadow: 0 12px 32px hsla(0, 0%, 20%, 0.1);
  cursor: pointer;
}

.product__img {
  height: 400px;
  width: 400px;
}

.product__title {
  display: block;
  font-size: 1.4rem;
}

.product__more {
  background-color: #000;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 5px;
}
