.products__title {
  text-align: center;
  margin: 2rem;
  font-size: 5rem;
  text-transform: uppercase;
}

.section__description {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.products__container {
  padding: 0rem 3rem;
}

.products__header {
  background-image: url("../../assets/backgrounds/products-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.products__components {
  display: grid;
  gap: 5rem;
}

.hero-img-container {
  display: flex;
  margin-bottom: 2rem;
}

.img__hero {
  width: 60px;
}

.components__title {
  font-size: clamp(1.1rem, 4vw, 2rem);
  text-transform: uppercase;
}

.components__description {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
  font-size: clamp(0.9rem, 4vw, 1rem);
}

.components__description span span {
  display: block;
  font-weight: bold;
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-transform: uppercase;
}

.components__img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.components__svg {
  width: 80px;
}

.components__img {
  width: 400px;
  height: 350px;
  object-fit: cover;
}

.products__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin: 3rem 0;
}

.product {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 1rem;
  border: 2px solid black;
  cursor: pointer;
  background: #fff;
  position: relative;
  transition: 0.4s all;
}

.product:hover {
  background: #000;
  color: #fff;
}

.product:hover .product__more {
  background: #fff;
  color: #000;
}

.product__shadow {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(10px, -20px);
}

.product__img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.product__title {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
}

.product__more {
  background-color: #000;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 5px;
}

.product__accessories-container {
  padding: 2rem 3rem;
}

.product__accessories-card {
  display: grid;
  gap: 2rem;
  background: #000;
  color: #fff;
  padding: 1rem 4rem 2rem;
}

.product__accessories-title {
  font-size: clamp(1.3rem, 6vw, 4rem);
  text-transform: uppercase;
}

.product__accessories-description {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  line-height: 1.7;
}

.product__accessories-btn {
  color: #000;
  background: #fff;
  width: fit-content;
  padding: 1rem 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.product__accessories-icon {
  transition: 0.5s all;
}

.product__accessories-btn:hover .product__accessories-icon {
  transform: translate(4px, -3px);
}

@media screen and (max-width: 1220px) {
  .products__container {
    gap: 2rem;
  }

  .product__img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1111px) {
  .components__img-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .product {
    width: 100%;
  }

  .products__container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    place-items: center;
  }

  .img__hero {
    width: 90px;
  }

  .hero-img-container {
    margin-bottom: 1.7rem;
  }
}

@media screen and (max-width: 800px) {
  .components__img-container {
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 2rem;
  }
}

@media screen and (max-width: 490px) {
  .products__container {
    padding: 0 0.4rem;
  }

  .product__accessories-container {
    padding: 1rem 1rem;
  }

  .components__img {
    width: 300px;
  }

  .product__accessories-card {
    padding: 1rem 2rem 2rem;
  }

  .img__hero {
    width: 70px;
  }

  .hero-img-container {
    margin-bottom: 1.2rem;
  }
}

@media screen and (max-width: 370px) {
  .products__container {
    padding: 0 0.4rem;
  }

  .img__hero {
    width: 40px;
  }

  .hero-img-container {
    margin-bottom: 1rem;
  }
}
