.hercules {
  margin-top: 5rem;
}

.hercules__container {
  padding: 2rem 3rem;
}

.hercules__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.hercules__description {
  text-align: center;
  margin-bottom: 1.5rem;
}

.hercules__top {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 6rem;
}

.hercules__img1 {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.hercules__detail {
  display: grid;
  gap: 3rem;
}

.hercules__detail-top h2,
.hercules__detail-bottom h2 {
  font-size: 2rem;
  margin-bottom: 0.9rem;
}

.hercules__detail p {
  font-size: 0.9rem;
  color: #00000097;
}

.hercules__bottom-img {
  display: flex;
  gap: 2.5rem;
}

.hercules__bottom {
  display: flex;
  gap: 3rem;
}

.hercules__img2,
.hercules__img3 {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.hercules__list {
  list-style-type: disc;
}
