.suppliers {
  width: 100%;
  margin: 3rem 0;
}

.suppliers > .section__title {
  font-size: clamp(2rem, 6vw, 4rem);
  text-align: center;
  margin-bottom: 2rem;
}

.suppliers > .section__description {
  width: 100%;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  line-height: 1.7;
  text-align: center;
  color: #000000af;
  font-size: clamp(1rem, 3vw, 1.14rem);
  border-bottom: 1px solid black;
}

.suppliers__card {
  /* background: #fff;
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, 0.2); */
  width: 100%;
  border-bottom: 1px solid black;
  /* box-shadow: 0 12px 24px hsla(0, 0%, 10%, 0.2); */
  position: relative;
  display: flex;
  gap: 3rem;
  margin: 3rem 0;
  overflow: none;
}

.suppliers__number {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.suppliers__data {
  display: grid;
  gap: 2rem;
}

.suppliers__img {
  width: 11rem;
  background: #000;
  border-radius: 5px;
  padding: 0.8rem;
}

.suppliers__title {
  font-size: clamp(1rem, 3vw + 1rem, 1.8rem);
  text-transform: uppercase;
}

.suppliers__description {
  color: #000000af;
  line-height: 1.8;
  font-size: clamp(0.89rem, 3vw, 1.125rem);
  margin-bottom: 2rem;
  cursor: pointer;
}

.marker {
  position: relative;
  width: 2px;
  height: 100%;
  background: #000;
}

.marker::after {
  position: absolute;
  content: "";
  display: block;
  top: 50px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 100%;
}

.active__slide {
  position: absolute;
  top: 60px;
  left: 40px;
  font-size: 1.1rem;
}

@media screen and (max-width: 680px) {
  .suppliers__card {
    flex-direction: column;
  }

  .suppliers__container.container {
    margin: 0 1.3rem;
    padding: 0 1rem;
  }
}
