.safety__container {
  max-width: 1600px;
  display: grid;
}

.safety__header {
  background-image: url("../../assets/backgrounds/health-safety-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.safety__description {
  color: #000000a8;
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  line-height: 1.7;
}

.safety__programs {
  margin-top: 4rem;
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.safety__programs-title {
  font-size: clamp(1rem, 8vw + 1rem, 3.6rem);
  text-transform: uppercase;
}

.safety__programs-description,
.safety__list {
  color: #000000a8;
  margin-bottom: 2rem;
}

.safety__list {
  list-style-type: disc;
}

.safety__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 6rem;
  column-gap: 4rem;
  margin: 0 4rem;
}

.safety__card {
  border: 2px solid #000;
  padding: 2rem 2rem 1rem;
  position: relative;
  cursor: pointer;
  background: #fff;
}

.safety__title {
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  font-size: clamp(1.2rem, 3vw, 1.6rem);
  font-weight: bold;
}

.safety__detail {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  color: #000000cb;
}

.safety__img {
  width: 60px;
  margin-bottom: 1rem;
}

.safety__shadow {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(-20px, -20px);
}

@media screen and (max-width: 1250px) {
  .safety__box {
    grid-template-columns: 1fr 1fr;
  }

  .safety__container {
    padding: 2rem;
  }
}

@media screen and (max-width: 999px) {
  .safety__box {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 690px) {
  .safety__box {
    grid-template-columns: 1fr;
  }

  .safety__box {
    margin: 0;
  }

  .safety__container {
    padding: 1.2rem;
  }
}

@media screen and (max-width: 448px) {
  .safety__box {
    padding: 1rem;
  }
}
