.safety__container {
  display: grid;
  padding: 3rem;
}

.safety__title {
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.safety__description {
  color: #000000a8;
  font-size: clamp(1.1rem, 3vw, 1.4rem);
  line-height: 1.7;
}

.safety__programs {
  margin-top: 4rem;
  font-size: clamp(1.1rem, 3vw, 1.45rem);
}

.safety__programs-title {
  font-size: clamp(1rem, 8vw + 1rem, 3.6rem);
  text-transform: uppercase;
}

.safety__programs-description,
.safety__list {
  color: #000000a8;
  margin-bottom: 2rem;
}

.safety__list {
  list-style-type: disc;
}
