.suppliers {
  padding: 2rem 3rem;
}

.suppliers > .section__title {
  text-align: center;
}

.suppliers > .section__description {
  width: 100%;
  margin-bottom: 3rem;
  line-height: 1.7;
  text-align: center;
  color: #000000af;
  font-size: 1.2rem;
}

.suppliers__card {
  /* background: #fff;
  box-shadow: 0 12px 24px hsla(0, 0%, 10%, 0.2); */
  width: 100%;
  border-bottom: 1px solid black;
  /* box-shadow: 0 12px 24px hsla(0, 0%, 10%, 0.2); */
  position: relative;
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
  margin: 3rem auto;
  padding: 2rem 1rem;
}

.suppliers__number {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.suppliers__data {
  display: grid;
  gap: 2rem;
}

.suppliers__img {
  width: 300px;
}

.suppliers__title {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.suppliers__description {
  color: #000000af;
  line-height: 1.8;
  font-size: 1.2rem;
}

.marker {
  position: relative;
  width: 2px;
  height: 100%;
  background: #000;
}

.marker::after {
  position: absolute;
  content: "";
  display: block;
  top: 50px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 100%;
}

.active__slide {
  position: absolute;
  top: 60px;
  left: 40px;
  font-size: 1.1rem;
}
