.preloader {
  height: 100vh;
  width: 100%;
  background: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preloader__title {
  font-size: clamp(1rem, 7vw, 7rem);
}

.preloader__title h1 {
  color: yellow;
  font-size: clamp(1rem, 7vw, 7rem);
  display: inline-block;
}

.text__container span {
  font-size: clamp(0.6rem, 3vw, 1.4rem);
}

@media screen and (max-width: ) {
  .text__container,
  .preloader__title {
    width: 100%;
  }
}
