.contact__container {
  margin: 1rem 5rem;
}

.contact__address {
  background: #000;
  color: #fff;
  margin: 7rem 0rem;
  border: 2px solid black;
}

.contact__card {
  display: flex;
  justify-content: space-between;
}

.contact__img-container {
  width: 50vw;
}

.contact__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 0 2rem;
}

.contact__title {
  font-size: clamp(1rem, 6vw, 4.2rem);
  text-transform: uppercase;
}

.contact__description {
  font-size: clamp(1rem, 4vw, 1.3rem);
}

.contact__location {
  background: #fff;
  color: #000;
  padding: 1rem 2rem;
  width: fit-content;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s all;
}

.contact__icon {
  transition: 0.5s all;
}

.contact__location:hover .contact__icon {
  transform: translate(6px, -3px);
}

.contact__location:hover {
  background: #ffffffd3;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.45rem;
}

.locations__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.location__card {
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  padding: 2rem 1.5rem;
  display: grid;
  gap: 0.4rem;
}

.location__email {
  display: block;
}

.location__card h3 {
  font-size: clamp(1rem, 4vw, 2rem);
  text-transform: uppercase;
}

.location__card p {
  font-size: clamp(0.89rem, 4vw, 1rem);
}

.location__map {
  background: #fff;
  color: #000;
  padding: 0.4rem 1.7rem;
  width: fit-content;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s all;
  margin-top: 1rem;
}

.location__map:hover .contact__icon {
  transform: translate(6px, -3px);
}

.form__input,
.form__label,
.form__btn {
  border: 0;
  outline: none;
  font-size: 1.2rem;
}

.form__box {
  position: relative;
  width: 800px;
  height: 59px;
}

.form__message {
  height: 150px;
}

.form__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.form__input {
  position: absolute;
  border: 2.5px solid #000;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 18px;
  transition: transform 0.3s;
}

.form__input::placeholder {
  transition: opacity 0.5s;
}

.form__label {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.form__btn {
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 0.875rem 1.5rem;
  transition: transform 0.3s;
  display: flex;
  width: fit-content;
}

.form__btn:hover {
  transform: translate(-6px, -6px);
}

.form__input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

.form__input:focus,
.form__input:not(:placeholder-shown).form__input:not(:focus) {
  transform: translate(-8px, -8px);
  padding: 28px 18px 18px;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) {
  opacity: 1;
  top: 2px;
  left: 12px;
  transition: 0.3s;
}

@media screen and (max-width: 1200px) {
  .contact__img-container {
    width: 45vw;
  }

  .contact__container {
    margin: 1rem 3rem;
  }

  .locations__container {
    grid-template-columns: 1fr 1fr;
  }

  .contact__detail {
    padding: 2rem;
  }
}

@media screen and (max-width: 999px) {
  .contact__img-container {
    width: 40vw;
  }

  .contact__form,
  .form__box {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 860px) {
  .contact__img-container {
    width: 38vw;
  }
}

@media screen and (max-width: 790px) {
  .contact__card {
    flex-direction: column-reverse;
  }

  .contact__img-container {
    width: 100%;
  }

  .contact__container {
    margin: 1rem 2rem;
  }
}

@media screen and (max-width: 690px) {
  .locations__container {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 450px) {
  .contact__form,
  .form__box {
    width: 100%;
  }

  .contact__container {
    margin: 1rem 0.6rem;
  }
}

@media screen and (max-width: 380px) {
  .contact__detail {
    padding: 1rem 0.5rem;
  }

  .locations__container {
    padding: 0;
  }
}
