.title__container {
  margin-bottom: 3rem;
}

.industries__container {
  padding: 0rem 7rem;
  max-width: 1500px;
  margin: 0 auto;
}

.industries__intro {
  margin-bottom: 4rem;
  font-size: clamp(1rem, 4vw, 1.1rem);
}

.industries__header {
  background-image: url("../../assets/backgrounds/industries-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.industries__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5rem;
  column-gap: 3rem;
}

.industries__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.industries__img-container {
  position: relative;
}

.industries__card {
  position: relative;
  display: grid;
  gap: 0.7rem;
  border: 2px solid #000;
  padding-bottom: 1rem;
  background: #fff;
  cursor: pointer;
}

.industries__shadow {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(9px, 10px);
}

.industries__title {
  font-weight: 600;
  z-index: 2;
  font-size: clamp(1rem, 4vw, 1.4rem);
  text-transform: uppercase;
}

.industries__description {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

.industries__description,
.industries__title {
  padding-left: 0.7rem;
}

@media screen and (max-width: 1110px) {
  .industries__box {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1110px) {
  .industries__container {
    padding: 3rem;
  }
}

@media screen and (max-width: 718px) {
  .industries__box {
    grid-template-columns: 1fr;
  }

  .industries__container {
    padding: 4rem;
    width: 100%;
  }
}

@media screen and (max-width: 508px) {
  .industries__container {
    padding: 1rem;
    width: 100%;
  }
}
