.header {
  padding: 1.2rem 3rem;
  width: 100%;
  color: #fff;
  background-color: #000;
  z-index: 2;
  margin-bottom: 0;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 9;
}

.nav__logo,
.nav__logo span {
  font-size: clamp(0.8rem, 6vw, 1.6rem);
  font-weight: 600;
}

.nav__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo-img {
  width: 60px;
}

.nav__list {
  display: flex;
  gap: 2.5rem;
}

.nav__item {
  transition: 0.4s;
  padding: 0.6rem 1.2rem;
  text-transform: capitalize;
  padding: 0.3rem;
  color: #fff;
  transition: 0.2s all;
}

.nav__link {
  transition: color 0.2s;
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.nav__item:hover {
  background: #fff;
  color: #000;
  border-radius: 4px;
}

.nav__contact {
  background-color: #fff;
  color: #000;
  padding: 0.7rem 1.4rem;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.4s;
}

.nav__contact:hover {
  background-color: #ffffffd5;
}

.show__menu,
.nav__toggle {
  display: none;
}

@media screen and (max-width: 1200px) {
  ul.nav__list.nav__large,
  .nav__contact-large {
    display: none;
  }

  .nav__logo-img {
    width: 60px;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    background: #000;
    z-index: 999;
  }

  .show__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #000;
    padding: 1rem 2rem;
    z-index: 999;
  }

  .nav__toggle,
  .nav__close {
    font-size: clamp(1.2rem, 6vw, 1.8rem);
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .nav__link {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.4s;
    font-size: clamp(1.2rem, 4vw, 3rem);
  }

  .nav__link:hover {
    color: #000;
  }

  .nav__close {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .header {
    padding: 1.5rem 0.6rem;
  }

  .nav__logo-img {
    width: 50px;
  }

  .nav__menu {
    text-align: center;
  }
}
