.header {
  padding: 1rem 2rem;
  width: 100%;
  color: #fff;
  background-color: #000;
  z-index: 2;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  margin-bottom: 1px solid black;
}

/* .header.active {
  background: #000;
  color: #fff;
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);
} */

.nav__logo {
  font-size: 1.8rem;
  font-weight: 600;
}

.nav__logo span {
  font-size: 1.8rem;
  color: yellow;
}

.nav__list {
  display: flex;
  gap: 1.45rem;
}

/* .nav__dropmenu {
  position: absolute;
  top: 4.2rem;
  opacity: 0;
  display: none;
  z-index: 1;
  display: grid;
  gap: 0.7rem;
  background: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.nav__dropmenu li:hover {
  color: #ffffff93;
} */

.nav__item {
  transition: 0.4s;
  font-size: 1.1rem;
  padding: 0.7rem 1rem;
  text-transform: capitalize;
}

/* .nav__item:hover ul.nav__dropmenu {
  opacity: 1;
  display: none;
  transition: 1s;
  position: fixed;
  margin-top: 0;
} */

.nav__item:hover {
  background: #fff;
  color: #000;
  border-radius: 4px;
}

.nav__contact {
  background-color: #fff;
  color: #000;
  padding: 0.7rem 1.4rem;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.4s;
}

.nav__contact:hover {
  background-color: #ffffffd5;
}
